@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-morabba;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #7480ffb7;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7480ff;
  }

  .chat-bubble.prose p {
    text-align: right;
  }

  .chat-bubble.prose pre {
    text-align: left;
    direction: ltr;
    font-size: 0.75rem;
  }

  .chat-bubble.prose code {
    direction: ltr;
    font-size: 0.75rem;
  }
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* برای Webkit-based browsers (Chrome, Safari, Opera) */
  }
}

@layer components {
  .dateBtn {
    @apply tab h-full text-sm lg:text-base;
  }
  .activeDateBtn {
    @apply tab-active btn-disabled !-translate-y-1 scale-105 font-bold;
  }
  .deActiveDateBtn {
    @apply hover:btn-link;
  }
  .date_animation_up {
    animation: dateUp 150ms;
  }
  @keyframes dateUp {
    0% {
      transform: scale(0.8) translateY(0);
    }
    100% {
      transform: scale(1) translateY(1);
    }
  }
  .date_animation_down {
    animation: dateDown 150ms;
  }
  @keyframes dateDown {
    0% {
      transform: scale(0.8) translateY(0);
    }
    100% {
      transform: scale(1) translateY(1);
    }
  }

  @keyframes emiji {
    from {
      transform: rotateZ(10deg);
    }
    to {
      transform: rotateZ(-10deg);
    }
  }

  .animate_emoji {
    animation: emiji 1s infinite alternate;
  }

  .masonry-layout {
    column-gap: 1em;
  }

  .masonry-item {
    margin-bottom: 1em;
    break-inside: avoid;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
  }

  @media (min-width: 576px) {
    .masonry-layout {
      column-count: 2;
    }
  }
  @media (min-width: 768px) {
    .masonry-layout {
      column-count: 4;
    }
  }
  @media (min-width: 992px) {
    .masonry-layout {
      column-count: 6;
    }
  }
  @media (min-width: 1200px) {
    .masonry-layout {
      column-count: 8;
    }
  }
}
